In [1]:
cd ../../

/mnt/sda/otani/Experiments/moment_retrieval

In [2]:
import json
from src.toolbox.data_converters import ActivityNetCap2Instances

In [3]:
import pickle as pkl

result_2d_tan = pkl.load(open("reports/figure_src/results/activitynet/2d-tan.pkl", "rb"))

In [4]:
available_video = []
read_first_line = False
with open("data/raw/ActivityNet/val_2_video_status.csv") as f:
    for line in f:
        if read_first_line == False:
            read_first_line = True
            continue
        video_id, is_viewable = line.rstrip().split(",")
        if is_viewable == "True":
            available_video.append(video_id)

In [5]:
len(available_video)

2786

In [6]:
result_2d_tan[0]

(('v_uqiMw7tQ1Cc',
  'Two men both dressed in athletic gear are standing and talking in an indoor weight lifting gym filled with other equipment.'),
 [[0.0, 12.92578125, 55.15],
  [0.0, 25.8515625, 55.15],
  [0.0, 6.032031536102295, 55.15],
  [4.30859375, 17.234375, 55.15],
  [0.0, 51.703125, 55.15]],
 [4, 3, 2, 1, 0],
 {'R@1 IoU>0.3': True,
  'R@1 IoU>0.5': False,
  'R@1 IoU>0.7': False,
  'R@5 IoU>0.3': True,
  'R@5 IoU>0.5': True,
  'R@5 IoU>0.7': False,
  'R@10 IoU>0.3': True,
  'R@10 IoU>0.5': True,
  'R@10 IoU>0.7': False})

In [9]:
s = 'test "test" test'
s.replace('"', '""')

'test ""test"" test'

In [14]:
data = []
# with open("data/processed/amt/2d-tan-activitynet.csv", "w") as f:
#     f.write("video_id,start_sec,end_sec,length,description\n")
for query, locations, _, _ in result_2d_tan:
    video_id, description = query
    video_id = video_id[2:]
    start_sec, end_sec, length = locations[0]
    if video_id in available_video:
        description = description.replace('"', '""')
        data.append((video_id, start_sec, end_sec, length, f"{description}"))
#             f.write(f'{video_id},{start_sec},{end_sec},{length},"{description}"\n')

In [15]:
import random
random.shuffle(data)

In [16]:
with open("data/processed/amt/2d-tan-activitynet.csv", "w") as f:
    f.write("video_id,start_sec,end_sec,length,description\n")
    for video_id, start_sec, end_sec, length, description in data:
        f.write(f'{video_id}.mp4,{start_sec},{end_sec},{length},"{description}"\n')

In [13]:
len(data) / len(result_2d_tan)

0.5721918853854735