In [2]:
cd ../../

/mnt/sda/otani/Experiments/moment_retrieval

In [10]:
import pickle as pkl

result_2d_tan = pkl.load(open("reports/figure_src/results/charade/2d-tan.pkl", "rb"))

In [11]:
data = []
for query, locations, _, _ in result_2d_tan:
    video_id, description = query
    start_sec, end_sec, length = locations[0]
    data.append((video_id, start_sec, end_sec, length, f"{description}"))

In [12]:
import random
random.shuffle(data)

In [13]:
with open("data/processed/amt/2d-tan-charade.csv", "w") as f:
    f.write("video_url,start_sec,end_sec,length,description\n")
    for video_id, start_sec, end_sec, length, description in data:
        f.write(f'{video_id}.mp4,{start_sec},{end_sec},{length},"{description}"\n')